body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    background-color: white;
}

header {
    background-color: #35424a;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: lightcoral solid;
    color:white;
}

header a{
    color:whitesmoke;
    text-decoration:none;
    font-size:20px;
}
    header a:hover {
        color: lightcoral;
        font-weight: bold;
    }
    header ul {
        padding: 0;
        margin: 0;
    }
    header li {
        display: inline;
        float: left;
        padding: 0 10px 0 10px;
    }
    header #myDiv h1 {
        margin: 0;
    }
    header #mySpan {
        color: lightcoral;
    }
    header nav {
        float: right;
    }

.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
}

#myShow {
    min-height: 300px;
    background: url('img/hotel-92.jpg') no-repeat 0 ;
    text-align: center;
    color:blanchedalmond;
    padding-top: 60px;
    opacity:0.7;
}
#myShow h2{
    margin-top:80px;
    margin-bottom:30px;
    font-size:30px;
}
   

#newsLetter {
    padding: 10px;
    color: white;
    background-color: #35424a;
}
#newsLetter h1{
    float:left;
  
}
    #newsLetter form{
        float: right;
        margin-top:20px;
    }
#newsLetter input[type="email"] {
    padding: 4px;
    height: 20px;
    width: 300px;
}
.myButton {
    height: 40px;
    background: #008080;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

#myBoxes {
    margin-top: 10px;
   
}
.myBox {
    padding:12px;
    float:left;
    width:30%;
  text-align:center;
}
    #myBoxes .myBox img{
        width: 150px;
    }


article#myArticle{
    width:68%;
    float:left;
}


aside#myAside{
    float:right;
    width:30%;
   
}
aside#myAside1 {
    float: right;
    width: 30%;
    margin-top: 80px;
    background-color: gainsboro;
    
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
#myAside p, #myArticle p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: gainsboro;
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 60px;
   background-color:lightgray;
}
    footer img {
        border-radius: 50%;
    }

@media(max-width: 768px){
    header #myDiv, header nav,  .myBox,
    #main, #newsLetter h1, aside#myAside, article#main,
    aside#myAside, aside#myAside1{
        
        text-align:center;
        width:100%;
       
    }
        header nav li{
            float: none;
        }
        header {
            padding-bottom: 20px;
        }
   
    #myShow h1{
        margin-top:40px;
    }
    #newsLetter form {
        float: none;
        text-align: center;
       
    }
    #newsLetter button {
        margin-top:5px;
        width: 300px;
        display:block;
    }

    
}